---
title: A Sample Team Page
---

<h1><%= current_page.data.title %></h1>
<% data.team.each do |member| %>
  <%= image_tag "team/#{member.slug}.png", width: '25%', height: '25%' %>
  <h2><%= link_to member.name, "/team/" + member.slug %></h2>
<% end %>

