<% content_for(:title, "#{ member.name }'s Page") %>

<article>
  <h1><%= member.name %> &mdash; <%= member.title %></h1>
  <section>
    <%= image_tag "team/#{member.slug}.png" %>
    <%= member.bio %>
  </section>
  <aside>
    <% if member[:twitter] %>
      <%= link_to "twitter", "http://twitter.com/#{member.twitter}" %>
    <% end %>

    <% if member[:github] %>
      <%= link_to "github", "https://github.com/#{member.github}" %>
    <% end %>
  </aside>
</article>
